@model Projekti_GamesWebsite.Models.Games

<!-- START: Some Products -->
<div class="nk-gap-2"></div>
<div class="row vertical-gap">
    <div class="col-md-6 col-lg-4">
        <div class="nk-gallery-item-box">
            <a href="store-product.html" class="nk-gallery-item">
                <span class="nk-gallery-item-overlay"><span><span class="nk-icon-circles"></span></span></span>
                <img src="assets/images/product-4-lg.jpg" alt="She was bouncing">
            </a>
            <div class="nk-gallery-item-label">
                <h4 class="mb-0">She was bouncing</h4>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 order-lg-3">
        <div class="nk-gallery-item-box">
            <a href="store-product.html" class="nk-gallery-item">
                <span class="nk-gallery-item-overlay"><span><span class="nk-icon-circles"></span></span></span>
                <img src="assets/images/product-2-lg.jpg" alt="However, I have reason">
            </a>
            <div class="nk-gallery-item-label">
                <h4 class="mb-0">However, I have reason</h4>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="row vertical-gap">
            <div class="col-md-6">
                <div class="nk-gallery-item-box">
                    <a href="store-product.html" class="nk-gallery-item">
                        <span class="nk-gallery-item-overlay"><span><span class="nk-icon-circles"></span></span></span>
                        <img src="assets/images/product-3-lg.jpg" alt="It was some time before">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="nk-gallery-item-box">
                    <a href="store-product.html" class="nk-gallery-item">
                        <span class="nk-gallery-item-overlay"><span><span class="nk-icon-circles"></span></span></span>
                        <img src="assets/images/product-1-lg.jpg" alt="So saying he unbuckled">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="nk-gallery-item-box">
                    <a href="store-product.html" class="nk-gallery-item">
                        <span class="nk-gallery-item-overlay"><span><span class="nk-icon-circles"></span></span></span>
                        <img src="assets/images/product-5-lg.jpg" alt="In all revolutions of">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="nk-gallery-item-box">
                    <a href="store-product.html" class="nk-gallery-item">
                        <span class="nk-gallery-item-overlay"><span><span class="nk-icon-circles"></span></span></span>
                        <img src="assets/images/product-6-lg.jpg" alt="Just then her head ">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>