@model Projekti_GamesWebsite.Models.comingsoon

@{
    ViewBag.Title = "comingsoon";
}

<body>

    <!-- START: Page Background -->

    <div class="nk-page-background-fixed" style="background-image: url('~/assets/images/bg-fixed-1.jpg');"></div>

    <!-- END: Page Background -->


    <div class="nk-main">



        <div class="nk-fullscreen-block">
            <div class="nk-fullscreen-block-top">
                <div class="text-center">
                    <div class="nk-gap-4"></div>
                    <a href="index.html"><img src="@Url.Content("~/assets/images/logG2.png")" alt="GoodGames"></a>
                    <div class="nk-gap-2"></div>
                </div>
            </div>
            <div class="nk-fullscreen-block-middle">
                <div class="container text-center">
                    <h1 class="h3">Coming Soon</h1>

                    <!--
                        START: Countdown

                        Additional Classes:
                            .nk-countdown-center
                            .nk-countdown-right
                    -->
                    <div class="nk-gap-2"></div>
                    <div class="nk-countdown nk-countdown-center" data-end="2018-11-26 08:20" data-timezone="EST"></div>
                    <!-- END: Countdown -->

                    <div class="nk-gap-2"></div>
                    <strong style="color:black;">Subscribe now or you'll miss all the fun!</strong>
                    <div class="nk-gap-2"></div>

                    <div class="row">
                        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                            <!-- START: MailChimp Signup Form -->
                            <form action="//nkdev.us11.list-manage.com/subscribe/post?u=d433160c0c43dcf8ecd52402f&amp;id=7eafafe8f0" method="post" class="nk-mchimp validate" target="_blank">
                                <div class="input-group"  style="margin-left: 410px;">
                                    <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Enter your Email" style="margin-left: 100px;">
                                    <button class="nk-btn nk-btn-rounded nk-btn-color-white ml-20">Subscribe</button>
                                </div>
                                <div class="nk-form-response-success"></div>
                                <div class="nk-form-response-error"></div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d433160c0c43dcf8ecd52402f_7eafafe8f0" tabindex="-1" value=""></div>
                            </form>
                            <!-- END: MailChimp Signup Form -->
                        </div>
                    </div>
                    <div class="nk-gap-3"></div>
                </div>
            </div>
            <div class="nk-fullscreen-block-bottom">
                <div class="nk-gap-2"></div>
                <ul class="nk-social-links-2 nk-social-links-center">
                    <li><a class="nk-social-rss" href="#"><span class="fa fa-rss"></span></a></li>
                    <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
                    <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
                    <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                    <li><a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a></li>
                    <li><a class="nk-social-twitter" href="#" target="_blank"><span class="fab fa-twitter"></span></a></li>
                    <li><a class="nk-social-pinterest" href="#"><span class="fab fa-pinterest-p"></span></a></li>


                </ul>
                <div class="nk-gap-2"></div>
            </div>
        </div>



    </div>
</body>
